<h1 class="mt-5 text-center">Events</h1>

<div class="d-flex justify-content-center align-items-center">
  <button (click)="updateList.emit()" class="btn btn-primary">update</button>
  <span class="pl-3">
    last update: {{ lastUpdate | date : "dd/MM/yyyy hh:mm:ss" }}
  </span>
</div>

<ng-container *ngIf="!control?.isLoading; else loading">
  <div class="d-flex container-events mx-3 mt-5">
    <div class="card" *ngFor="let data of model" (click)="viewDetail(data)">
      <img
        [src]="data?.thumbnail?.path + '.' + data?.thumbnail?.extension"
        [alt]="data?.title"
      />
      <div class="card-content p-3">
        <h4 class="mt-1">{{ data?.title }}</h4>
        <p>{{ data?.description }}</p>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="d-flex container-events mx-3 mt-5">
    <div class="card" *ngFor="let data of [1, 2, 3]">
      <div class="loading-item img-loading"></div>
      <div class="card-content p-3">
        <div class="loading-item"></div>
        <div class="loading-item mt-4"></div>
        <div class="loading-item"></div>
      </div>
    </div>
  </div>
</ng-template>
